<section>
    <div class="sidebar-header">
        <span class="sidebar-header-title">
            关于博主
        </span>
    </div>
    <ul class="list-inline">
        <li>
            <a class="am-icon-btn am-icon-qq" target="_blank" itemtype="url"
                href="tencent://message/?uin={{$.Site.Params.social.QQ}}&Site=junichi&Menu=yes"></a>
        </li>
        <li>
            <a class="am-icon-btn am-icon-github" target="_blank" itemtype="url"
                href="https://github.com/{{$.Site.Params.social.GitHub}}"></a>
        </li>
        <li>
            <a class="am-icon-btn am-icon-weibo" target="_blank" itemtype="url"
                href="{{$.Site.Params.social.WeiBo}}"></a>
        </li>
    </ul>
</section>